extends _layout

block vars
  - var pageTitle = "Catalog detail page";
  - var pageClass = "catalogdetail";
  - var pageActive = "catalogdetail";
block content
  //
    .b-lazy.webp-img(data-webp="./img/motivated-bg.webp"
      data-webp-mobile="./img/motivated-bg-mobile.webp"
      data-img="./img/motivated-bg.png"
      data-img-mobile="./img/motivated-bg-mobile.png")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      img(src="./img/logo.png" alt="img")

  div.main-wrap
    .top-breadcrumbs.b-lazy.webp-img(data-webp="./img/foto_sector3.webp"
    data-img="./img/foto_sector3.jpg" data-0="background-position-y: 100%" data-600="background-position-y: 0%;")
      .top-breadcrumbs__inner
        .top-breadcrumbs__title КАТАЛОГ ЗАПЧАСТИН
        .top-breadcrumbs__path
          a(href='/') Головна
          span >
          a(href='/') Каталог запчастин &nbsp;
          span >&nbsp;
          span Коронки і адаптера

    .block-info-txt
      .block-info-txt__inner
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor

    .block-info
      .block-info__inner.site-container
        .block-info__img
          picture
            source(srcset="./img/001.webp" type="image/webp")
            img(src="./img/001.jpg" alt="img")
        .block-info__info
          .block-info__name Назва продукту
          .block-info__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .block-info__icons
            picture
              source(srcset="./img/blades_for_bulldozer_grader_scraper_loader.webp" type="image/webp")
              img(src="./img/blades_for_bulldozer_grader_scraper_loader.jpg" alt="img")




    .horizontal
      .horizontal__bg.b-lazy.webp-img(data-webp="./img/form-bg.webp"
      data-img="./img/form-bg.jpg")
      .horizontal__inner.site-container
        .horizontal__form.site-form(data-aos="fade-up")
          form
            .site-form__title.site-title  Оставьте заявку
            .site-form__col
              .site-form__row
                .site-form__input
                  input(type="text" name="name" placeholder="Имя")
              .site-form__row
                .site-form__input
                  input(type="tel" name="phone" inputmode="numeric" placeholder="Телефон").phone
            //.site-form__col
            //  .site-form__row
            //    .site-form__textarea
            //      textarea(placeholder="Ваше сообщение")
            .site-form__btn
              a(href="#)").site-btn.site-form__btn-i.form-btn Отправить



