extends _layout

block vars
  - var pageTitle = "Catalog detail page";
  - var pageClass = "catalogdetail";
  - var pageActive = "catalogdetail";
block content
  //
    .b-lazy.webp-img(data-webp="./img/motivated-bg.webp"
      data-webp-mobile="./img/motivated-bg-mobile.webp"
      data-img="./img/motivated-bg.png"
      data-img-mobile="./img/motivated-bg-mobile.png")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      img(src="./img/logo.png" alt="img")

  div.main-wrap
    .top-breadcrumbs.b-lazy.webp-img(data-webp="./img/foto_sector3.webp"
    data-img="./img/foto_sector3.jpg" data-0="background-position-y: 100%" data-600="background-position-y: 0%;")
      .top-breadcrumbs__inner
        .top-breadcrumbs__title КАТАЛОГ ЗАПЧАСТИН
        .top-breadcrumbs__path
          a(href='/') Головна
          span >
          a(href='/') Каталог запчастин &nbsp;
          span >&nbsp;
          span Коронки і адаптера

    .catalog-preview
      .catalog-preview__inner.site-container
        .catalog-preview__title.site-title(data-aos="zoom-in")
          span Ми пропонуємо
          | каталог запчастин
        .catalog-preview__list.custom-row
          .catalog-preview__item.custom-col
            //.catalog-preview__item-content(data-0="opacity: 0; transform: scale(0.8);" data-500="opacity: 1; transform: scale(1);")
            .catalog-preview__item-content(data-aos="fade-up")
              a(href="#").catalog-preview__img
                picture
                  source(srcset="./img/category.webp" type="image/webp")
                  img(src="./img/category.jpg" alt="img")
              .catalog-preview__item-inner
                a(href="#").catalog-preview__name Коронки і адаптера
                .catalog-preview__txt Короткое описание спецтехники
          .catalog-preview__item.custom-col
            .catalog-preview__item-content(data-aos="fade-up")
              a(href="#").catalog-preview__img
                picture
                  source(srcset="./img/category.webp" type="image/webp")
                  img(src="./img/category.jpg" alt="img")
              .catalog-preview__item-inner
                a(href="#").catalog-preview__name Спецсталь
                .catalog-preview__txt Короткое описание спецтехники
          .catalog-preview__item.custom-col
            .catalog-preview__item-content(data-aos="fade-up")
              a(href="#").catalog-preview__img
                picture
                  source(srcset="./img/category.webp" type="image/webp")
                  img(src="./img/category.jpg" alt="img")
              .catalog-preview__item-inner
                a(href="#").catalog-preview__name Конструкціональная сталь
                .catalog-preview__txt Короткое описание спецтехники
          .catalog-preview__item.custom-col
            .catalog-preview__item-content(data-aos="fade-up")
              a(href="#").catalog-preview__img
                picture
                  source(srcset="./img/category.webp" type="image/webp")
                  img(src="./img/category.jpg" alt="img")
              .catalog-preview__item-inner
                a(href="#").catalog-preview__name Ковші
                .catalog-preview__txt Короткое описание спецтехники
          .catalog-preview__item.custom-col
            .catalog-preview__item-content(data-aos="fade-up")
              a(href="#").catalog-preview__img
                picture
                  source(srcset="./img/category.webp" type="image/webp")
                  img(src="./img/category.jpg" alt="img")
              .catalog-preview__item-inner
                a(href="#").catalog-preview__name Ремонтні роботи
                .catalog-preview__txt Короткое описание спецтехники

    .horizontal
      .horizontal__bg.b-lazy.webp-img(data-webp="./img/form-bg.webp"
      data-img="./img/form-bg.jpg")
      .horizontal__inner.site-container
        .horizontal__form.site-form(data-aos="fade-up")
          form
            .site-form__title.site-title  Оставьте заявку
            .site-form__col
              .site-form__row
                .site-form__input
                  input(type="text" name="name" placeholder="Имя")
              .site-form__row
                .site-form__input
                  input(type="tel" name="phone" inputmode="numeric" placeholder="Телефон").phone
            //.site-form__col
            //  .site-form__row
            //    .site-form__textarea
            //      textarea(placeholder="Ваше сообщение")
            .site-form__btn
              a(href="#)").site-btn.site-form__btn-i.form-btn Отправить



